= content_for :javascripts do
  = javascript_include_tag 'editor_page'

= content_for :stylesheets do
  = stylesheet_link_tag 'editor_page'

#content
  #top_btns.col-sm-12
    #create.col-sm-4
      #create-btn
        Create New Song
    .col-sm-4
      #edit
        Edit Existing Song
    .col-sm-4.dropdown
      #unpublish
        Unpublish
      #publish.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Publish
        %span.caret
      %ul#meta-data.dropdown-menu

%section.fret-with-video.smaller
  .container
    .col-md-6.video-area
      #ytplayer_container
    .col-md-6.fret-area
      #fretboard_container

#content
  #timeline_container
  #palette_container


:javascript
  $(document).ready( function() {
    $('.dropdown-menu').on('click', function(event) {
      event.stopPropagation();
    });
  } );
