= content_for :javascripts do
  = javascript_include_tag 'editor_page'

= content_for :stylesheets do
  = stylesheet_link_tag 'editor_page'

#content
  #viewer
    .row
      #ytplayer_container
      #fretboard_container

    #ctrlbar_container
    #timeline_container
    #palette_container