
%div{:align => "center"}
  %h1 FretX has an Android app, get it on Google Play!
  %a{:href => "market://details?id=fretx.app"}
    %img{:alt => "Get it on Google Play", :src => "https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"}/
