
%div{:align => "center"}
  %h1 We're sorry, FretX web platform is not yet available on mobile devices.
  %h1 Please try our mobile app instead:
  %a{:href => "https://play.google.com/store/apps/details?id=fretx.app"}
    %img{:alt => "Get it on Google Play", :src => "https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"}/
