#header {
  text-align: left;
  position: relative;
  margin-bottom: 1em;
  height: 5.5em;
  display: flex;
}

#header .third {
  flex: 1;
  text-align: center;
  position: relative;
}

#header .third:before,
#header:before,
#header .rightalign:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#ordernow {
  display: inline-block;
  background: #E20009;
  padding: .5em 1em;
  border-radius: 1.5em;
  color: white;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
}

#footer {
  position: absolute;
  margin-top: 1em;
  height: 10em;
  width: 100%;
  bottom: 0;
}

#content {
  display: block;
  position: relative;
  max-width: 100%;
}

#header #logo {
  display: inline-block;
  padding: 1em 1.5em;
  cursor: pointer;
  vertical-align: middle;
  flex: 1;
}

#header #logo img {
  height: 3em;
}

#userview_container {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em;
}

#content {
  background: rgba(255,255,255,0.9);
}

#header {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.13);
}

#header .rightalign {
  right: 0;
  position: absolute;
  display: inline-block;
  height: 100%;
}


#header #sharebutton {
  vertical-align: middle;
  display: inline-block;
  width: 3em;
  padding: 0 1em;
  cursor: pointer;
}

#footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+9,ffffff+12,ffffff+100&0+0,0.8+15,0.95+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.48) 9%, rgba(255,255,255,0.64) 12%, rgba(255,255,255,0.8) 15%, rgba(255,255,255,0.95) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.48) 9%,rgba(255,255,255,0.64) 12%,rgba(255,255,255,0.8) 15%,rgba(255,255,255,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.48) 9%,rgba(255,255,255,0.64) 12%,rgba(255,255,255,0.8) 15%,rgba(255,255,255,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2ffffff',GradientType=0 ); /* IE6-9 */
}
  
#userview_container,  
#ordernow {
  font-size: 1.5em;
}


#get_fretx {
  color: #FB4330;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  font-family: 'GothamRBd';
  border-radius: .5em;
  display: inline-block;
  padding: .2em 1.5em;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
}

#get_fretx:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

#get_fretx img {
  height: 1.8em;
  vertical-align: middle;
  margin-right: 1em;
  display: inline;
}

#logout img {
  display: inline;
}

.btn {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  border-radius: 1em;
}

@media (max-width: 750px) {

  #userview_container,
  #ordernow {
    font-size: 3.5vw;
  }
  
  #content {
    padding: 0;
  }

  #get_fretx {
    font-size: 3.1vw;
  }

}


ul#menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: bottom;
}


ul#menu li {
  display: inline-block;
  padding: .5em 1em;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

ul#menu li:hover {
  color: #B00;
  border-bottom: 3px solid #B00;
}

ul#menu a {
  color: inherit;
  text-decoration: none;
}